{
    "port"	: 1337,
    "userdir" 	: "/home/jqt3of5/",
    "userdb" : {"dbhost": "localhost","name" : "auth","dbuser": "root","dbpasswd": "diogee"},
    "filedb" : {"name" : "filedb", "fscollection" : "filesystem", "gridfscollection" : "gridfs",  "port" : "27017", "host" : "10.0.1.101"},
    "remotehost": ["127.0.0.1", "10.0.1.61"]
}